@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header>
        <h1>Brookings Activity Center</h1>
    </header>
    <div id="About Us">
        <h3>About Us</h3>
        <p>
            The Brookings Activity Center is THE SPOT to host your next event. We provide
            event hosting, catering, and great times in the Brookings County area. We can do
            weddings, reunions, auctions, parties, and anything else you can think of. If you
            have an event, we can host it. Click around on our website for availability,
            catering options, and booking. We hope to see you soon at your next BAC hosted Event!
        </p>
    </div>
    <img src="\images\Brookings_Activity_Center_exterior_640x360.jpg" alt="Brookings Activity Center Exterior">
</div>
